@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@600&display=swap');


.top-part-nav{
    z-index: 2;
    position: absolute;
    width: 100%;
    margin: 0;
    background: transparent;
}

li {
    list-style: none;
}

a {
    font-family: "Poppins";
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    height: fit-content;
}

.logo {
    cursor: pointer;
    background-color: black;
    margin: 1.5rem 1rem;
    height: 60%;
    border-radius: 5px;
    padding: 3px;
}

.nav-items {
    display: flex; /* CSS3 */
    align-items: center; /* Vertical align */
    justify-content: center; /* Horizontal align */
    height: fit-content;
    
}

.nav-items li a {
    margin-right: 2rem;
    transition: all 0.3s ease-in;
}
.nav-items li a:hover{  
    color: #F79327;
}

.active {
    color: rgba(18, 245, 18,0.7);
}

.button-reg-top{
    font-family: "Poppins";
    font-weight: 500;
    width: fit-content;
    padding: 0.4rem 0.67rem;
    border: 2px solid black;
    border-radius: 30px;
    color: #ffffff;
    margin-right: 15px;
    background-color: black;
    transition: all 0.3s ease-in-out;
}

.button-reg-top:hover{
    background-color: #ffffff;
    border: 2px solid rgba(18, 245, 18,0.7);
}
.button-reg-top:hover .link-top{
    color: black;
}
.link-top{
    font-size: 15px;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.active, .not{
    margin: auto; 
    display: flex; /* CSS3 */
    align-items: center; /* Vertical align */
    justify-content: center; /* Horizontal align */
}

.mobile-menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {
    .button-reg-top{
        display: none;
    }

    .logo-resizer {
        width: 180px;
        height: auto;
    }

    .nav-items-mobile {
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style: none;
        z-index: 2;
        top: 95px;
        transition: all 0.5s ease-in-out;
        width: 90%;
        margin-left: 4%;
        background-color: white;
        opacity: 0.9;
        border: 2px solid black;
        border-radius: 10px;
        padding-top: 15px;
    }

    .nav-items-mobile li {
        display: flex;
    }

    .nav-items-mobile li a {
        text-align: center;
        width: 100%;
        transition: all 0.5s ease;
        text-decoration: none;
        font-size: 20px;
        font-weight: 600;
        color: black;
        margin-bottom: 30px;
        text-decoration: 2px overline;
        text-decoration-color: rgba(18, 245, 18,0.7);;
    }

    .nav-items {
        display: none;
    }

    .logo {
        margin: 0;
        padding: 0;
        margin-top: 1rem;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .navbar {
        margin: 0;
        padding: 0;
        /* margin-top: 2rem; */
    }

    .mobile-menu-icon {
        display: block;
        position: relative;
        font-size: 30px;
        color: black;
        background-color: transparent;
        border: none;
        margin-top: 1rem;
        margin-bottom: 10px;
        margin-right: 20px;
        outline: none;
        transition: all 0.5s ease;
    }
}