body{
    
  --black: #000000;
  --ash-black: #222;
  --white: #fafafa;
  --sky: #00ccff;
  --green: #22dddd;
  --blue: #1300ff;
  --dusk: #6600ff;
  --purple: #9900ff;
  --pink: #ff0066;
  --red: #fe0222;
  --orange: #fd7702;
  --yellow: #ffbb00;
  --green: #79f23f;

  --background: var(--black);
  --accent: var(--green);
}

.time-main{
  margin-top: 5%;
}

.progress {
  position: sticky;
  top: 0;
  width: 80px;
  height: 80px;
  margin: 0;
  padding: 0;
}

.progress svg {
  transform: translateX(0px) rotate(-90deg);
}

circle {
  stroke-dashoffset: 0;
  stroke-width: 5%;
  fill: none;
}

.bg {
  stroke: var(--sky);
  opacity: 0.2;
}

.progress .indicator {
  stroke: var(--sky);
}

::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: var(--accent);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: var(--background);
}

section {
  height: max-content;
  margin: 4% 0px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.top{
  max-width: 30%;
  min-width: 30%;
  border: 2px solid black;
  position: relative;
  border-radius: 15px;
  box-shadow: 5px 10px rgba(139, 137, 137,0.8);
  transition: all 0.3s ease-in-out;
  background-color: #59CE8F;
  margin: 20px 20px;
  cursor:pointer;
}
.time-content{
  width: 100%;
}

.items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.time-heading{
    font-family: 'JetBrains Mono';
    font-size: 150%;
    font-weight: 500;
    width: 100%;
    text-align: center;
}
.time-event{
    font-family: "Poppins";
    font-size: 220%;
    font-weight: 600;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.no-content{
  display: none;
}

@media screen and (max-width: 768px) {
  .time-main{
    margin-top: 50px;
  }
  .items{
    flex-direction: column;
    justify-content: center;
  }
  .top{
    margin: 20px auto;
    max-width: 70%;
    min-width: 70%;
  }
}
